* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', 'san-serif';
    background-color: #d9dbf3;
    overflow: auto;
    color: #333;
}

.container {
    height: 100vh;
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    max-width: 1300px;
    width: 92%;
    margin: auto;
    padding: 16px;
}

nav h1 {
    margin-right: 16px;
}

.weathersearch {
    display: flex;
    align-items: center;
}

input {
    padding: 6px 15px;
    font-size: 15px;
}

section {
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    width: 90%;
}

.result-wrapper {
    width: 100%;
}

::placeholder {
    color: black;
    font-size: 16px;
}

.conditions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conditions h3 {
    align-self: start;
}

.main {
    padding: 10px;
}

.main .tempicon {
    display: flex;
    align-items: center;
}

.tempicon .temp {
    font-size: 68px;
}

.main .description {
    text-align: center;
    font-size: 24px;
    text-transform: capitalize;
}

.main .update {
    text-align: center;
}

.secweather {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.secweather>div {
    background-color: #fff;
    margin: 5px;
    padding: 10px;
    min-width: 180px;
    height: 150px;
    border-radius: 7px;
}

.secweather .wind>div,
.secweather .dew>div {
    display: flex;
    align-items: center;
    padding-left: 5px;
    height: 70%;
    font-size: 28px;
}

#myProgress {
    width: 100%;
    background-color: grey;
    height: 10px;
    padding: 0;
    margin-top: 1.7em;
}

#myBar {
    height: 10px;
    background-color: green;
}

.humidityresult{
    text-align: center;
    font-size: 22px;
}

.sunriseset > div{
    text-align: center;
    font-size: 22px;
}

.sunriseresult:before{
content: "🌝";
font-size: 22px;
padding-right: 10px;
}

.sunsetresult::before{
    content: "🌚";
    font-size: 22px;
    padding-right: 10px;
}

.dailymain {
    margin: 26px;
    width: 100%;

}

.daily {
    display: flex;
    width: 100%;
    padding: 16px;
    margin: 6px 0;
    overflow-x: auto;
}

.daily>div {
    min-width: 150px;
    float: left;
    text-align: center;
}

.dailytemp span:first-child {
    font-size: 24px;
    padding-right: 5px;
}