* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', 'san-serif';
    background-color: #d9dbf3;
    color: #333;
}

.container{
    width: 100vw;
}

nav {
    display: flex;
    align-items: center;
    width: 100%;
    margin: auto;
    padding: 13px 8px;
}

nav h1 {
    margin-right: 16px;
}

.weathersearch {
    display: flex;
    align-items: center;
}

input {
    padding: 6px 15px;
    font-size: 15px;
}

section {
    width: 100%;
    padding: 22px;
}

.result-wrapper {
    width: 100%;
    margin: auto;
}

::placeholder {
    color: black;
    font-size: 16px;
}

.loading {
    font-size: 10px;
    margin: 50px auto;
    text-indent: -9999em;
    width: 11em;
    height: 11em;
    border-radius: 50%;
    background: #ffffff;
    background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

.loader:before {
    width: 50%;
    height: 50%;
    background: #ffffff;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}

.loader:after {
    background: #0dc5c1;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@-webkit-keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


.conditions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.conditions h3 {
    align-self: start;
}

.main {
    padding: 10px;
}

.main h3{
    text-align: center;
    display: inline-block;
    margin: auto;
}

.country{
    font-size: 12px;
}

.main .tempicon {
    display: flex;
    align-items: center;
}

.tempicon .temp {
    font-size: 68px;
}

.main .description {
    text-align: center;
    font-size: 24px;
    text-transform: capitalize;
}

.main .update {
    text-align: center;
}

.secweather {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.secweather>div {
    background-color: #fff;
    margin: 5px;
    padding: 10px;
    min-width: 180px;
    height: 150px;
    border-radius: 7px;
}

.secweather .wind>div,
.secweather .feels_like>div {
    display: flex;
    align-items: center;
    padding-left: 5px;
    height: 70%;
    font-size: 28px;
}

#myProgress {
    width: 100%;
    background-color: grey;
    height: 10px;
    padding: 0;
    margin-top: 1.7em;
}

#myBar {
    height: 10px;
    background-color: green;
}

.humidityresult{
    text-align: center;
    font-size: 22px;
}

.sunriseset > div{
    text-align: center;
    font-size: 22px;
}

.sunriseresult:before{
content: "🌝";
font-size: 22px;
padding-right: 10px;
}

.sunsetresult::before{
    content: "🌚";
    font-size: 22px;
    padding-right: 10px;
}
.hourlymain {
    margin: 26px;
    width: 100%;
}

.hour {
    display: flex;
    width: 100%;
    padding: 16px;
    margin: 6px 0;
    overflow-x: auto;
}

.hour>div {
    min-width: 150px;
    float: left;
    text-align: center;
}


.dailymain {
    margin: 26px;
    width: 100%;

}

.daily {
    display: flex;
    width: 100%;
    padding: 16px;
    margin: 6px 0;
    overflow-x: auto;
}

.daily>div {
    min-width: 150px;
    float: left;
    text-align: center;
}

.dailytemp span:first-child {
    font-size: 24px;
    padding-right: 5px;
}